@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
   padding: 50px 0;
   &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 
}

.logo{
    display: flex;
    align-items: center;
    &__img{
        padding-right: 15px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 36px;
        color: $accent;
    }
}

.menu {
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $accent;
        @extend %rubik-500;
        &:hover{
            color: $link-hover;
        }
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link--search{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $icon-bg-search;
    }
    &__link-box{
        position: relative;
        display: flex;
        margin: 0 20px;
        background-color: $main-accent-bg;
        height: 50px;
        padding: 20px 40px 14px;
        border-radius: 25px; 
        &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 35px;
                background: #fff;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
    }
    &__link-box .user-nav__link + .user-nav__link{
        padding-left: 60px;        
    }
    &__link--user-menu{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $icon-bg-user-menu;
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $white;
        color: $nav-num-color;
        line-height: 20px;
        text-align: center;
        top: -11px;
        right: -14px;
        font-size: 10px;
    }
}

footer{
    color: $footer-font-color;
}
.footer-top{
    padding: 80px 0 75px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    align-items: flex-start;
    &__contact{
        width: 220px;
        margin-right: 80px;
    }
    &__nav{
        width: 170px;
        margin-right: 130px;
    }
    &__item-form{
        max-width: 270px;
    }
    &__logo{
        margin-bottom: 25px;
    }
    &__adress,
    &__phone,
    &__email{
        display: block;
        margin-bottom: 20px;
        font-style: 14px;
        color: $footer-font-color;        
    }
    &__adress span,
    &__phone span,
    &__email span{
        text-transform: uppercase;
    }
    &__title{
        color: #1f2044;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 30px;
    }
    &__link{
        display: block;
        color: $footer-font-color;
        margin-bottom: 15px;
        font-size: 14px;
    }
    &__text{
        margin-bottom: 35px;
    }
    &__form{
        letter-spacing: -0.36em;
        font-size: 0;
    }
    
    &__form-input{
        background-color: #fef7f0;
        @extend %dmsans-400;
        font-size: 12px;
        letter-spacing: normal;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 15px 10px 14px 16px;
        &::placeholder{
            color: #234969;
        }
    }
    &__form-btn{
        @extend %btn;
        @extend %dmsans-400;
        font-size: 14px;
        letter-spacing: normal;
        background-color: #a3bbc8;
        text-transform: uppercase;
        padding: 14px 10px 15px;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    &__list{
        display: flex;
    }
    &__list-item + .footer-bottom__list-item{
        margin-left: 30px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 1px;
            height: 20px;
            top: 50%;
            left: -15px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background: $footer-font-color;
        }
    }
    &__list-link{
        color: $footer-font-color;
        &:hover {
            color: $link-hover;
        }
    }
}

.top-slider{
    &__wrapper{
        background-color: #fcd7b6;
        padding: 220px 0 50px;
    }
    &__container{
        max-width: 1520px;
        margin: 0 auto;
    }
    &__content{
        padding-left: 75px;
    }    
    &__item{
        display: flex !important;
        justify-content: space-around;
    }
    &__img{
        padding-right: 75px;
    }
    &__title{
        max-width: 420px;
        margin-bottom: 35px;
        @extend %rubik-500;
        font-size: 72px;
        line-height: 1.2;
        color: $title;
    }
    &__text{
        max-width: 370px;
        margin-bottom: 45px;
    }
    &__link{
        @extend %btn;
        line-height: 60px;
        background-color: $icon-bg-user-menu;
        padding: 23px 100px 23px 25px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/icons/arrow-right.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            width: 22px;
            height: 9px;
            left: 158px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 200px;    
        li{
            padding: 0 10px;
            button{
                padding: 10px;
                font-size: 11px;
                @extend %rubik-500;
                background-color: $white;
                color: $title;
                width: 31px;
                height: 31px;
                border-radius: 50%;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            } 
            &.slick-active{
                button{
                    background-color: #fde3cc;
                    color: #788389;
                }
            }
        }
    }
}


.info{
    position: relative;
    margin-bottom: 150px;
    &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: #e8e4df;
            top: 0;
            left: 66%;    
        }
    &__inner{
        padding: 45px 0;
        background-color: #fef7f0;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: #e8e4df;
            top: 0;
            left: 33.33%;        
        }
    }
    &__item-img{
        margin-right: 20px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 18px;
        color: #414141;
    }
    &__item-text{
        @extend %dmsans-400;
        color: #585858;
    }
}

.categories{    
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 28px;
        row-gap: 40px;
        margin-bottom: 80px;
    }    
}

.categories-item{  
    max-width: 271px;  
    box-shadow: 6px -9px 16px 17px rgba(249, 249, 249, .54);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding-top: 50px;
    &__img-box{
        height: 250px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        padding: 0 15px;
    }   
    &__img{
        object-fit: cover;
    }
    &__link-box {
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: all .5s;
        transform: translateY(300%);
    }
    &__title{
        margin-top: auto;
        margin-bottom: 15px;
        @extend %dmsans-700;
        font-size: 16px;
        color: $title;
    }
    &__price{
        margin-bottom: 34px;
        @extend %dmsans-700;
        font-size: 16px;
        color: $icon-bg-user-menu;
    }
    &__link {
        background-color: $white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0px 6px 15px 0px rgba(37, 37, 37, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        path {
            transition: all .5s;
        }
    }
    &__link:hover {
        path {
            fill: $white;
        }
        background-color: $icon-bg-user-menu;
    }
    &:hover {
        .categories-item__link-box {
            transform: translateY(0)
        }
    }
}
.categories-info{
    &__items{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 85px;
    }
    &__item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 205px 5px 100px 430px;
        flex: 0 1 50%;
        width: 870px;
        max-height: 484px;
    }
    &__item + .categories-info__item{
        margin-left: 30px;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 26px;
        color: $title;
        margin-bottom: 30px;
    }
    &__item-text{
        color: $title;
        margin-bottom: 35px;
    }
    &__item-link{
        @extend %btn;
        border: 1px solid #b3b7b5;
        color: #436372;
        line-height: 60px;
        padding: 25px 85px 25px 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url("../images/icons/arrow-dark-right.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 22px;
            height: 9px;
            top: 50%;
            left: 135px;
            transform: translateY(-50%)
        }
    }
}

.design{
    &__inner{
        padding-bottom: 120px;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
    }
    &__item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-top: 45px;
        padding-left: 35px;
        @extend %dmsans-700;
    }
    &__item-title{
        color: #191919;
        font-size: 20px;
        margin-bottom: 20px;
        max-width: 170px;
        width: 100%;
    }
    &__item-subtitle{
        color: $icon-bg-user-menu;
        margin-bottom: 130px;
    }

}

.promo-video{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    &__popup{
        margin-bottom: 110px;
    }
    &__play{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 185px 0;
    }
}



@import 'media';