@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
   padding: 50px 0;
   &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 
}

.logo{
    display: flex;
    align-items: center;
    &__img{
        padding-right: 15px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 36px;
        color: $accent;
    }
}

.menu {
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $accent;
        @extend %rubik-500;
        &:hover{
            color: $link-hover;
        }
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link--search{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $icon-bg-search;
    }
    &__link-box{
        position: relative;
        display: flex;
        margin: 0 20px;
        background-color: $main-accent-bg;
        height: 50px;
        padding: 20px 40px 14px;
        border-radius: 25px; 
        &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 35px;
                background: #fff;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
    }
    &__link-box .user-nav__link + .user-nav__link{
        padding-left: 60px;        
    }
    &__link--user-menu{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $icon-bg-user-menu;
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $white;
        color: $nav-num-color;
        line-height: 20px;
        text-align: center;
        top: -11px;
        right: -14px;
        font-size: 10px;
    }
}

footer{
    color: $footer-font-color;
}
.footer-top{
    padding: 80px 0 75px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    align-items: flex-start;
    &__contact{
        width: 220px;
        margin-right: 80px;
    }
    &__nav{
        width: 170px;
        margin-right: 130px;
    }
    &__item-form{
        max-width: 270px;
    }
    &__logo{
        margin-bottom: 25px;
    }
    &__adress,
    &__phone,
    &__email{
        display: block;
        margin-bottom: 20px;
        font-style: 14px;
        color: $footer-font-color;        
    }
    &__adress span,
    &__phone span,
    &__email span{
        text-transform: uppercase;
    }
    &__title{
        color: #1f2044;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 30px;
    }
    &__link{
        display: block;
        color: $footer-font-color;
        margin-bottom: 15px;
        font-size: 14px;
    }
    &__text{
        margin-bottom: 35px;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__form-input, &__form-btn{
        margin: 0;
    }
    &__form-input{
        background-color: #fef7f0;
        @extend %dmsans-400;
        font-size: 12px;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 15px 10px 14px 16px;
        &::placeholder{
            color: #234969;
        }
    }
    &__form-btn{
        @extend %dmsans-400;
        font-size: 14px;
        border: none;
        background-color: #a3bbc8;
        text-transform: uppercase;
        color: $white;
        padding: 14px 10px 15px;
        cursor: pointer;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    &__list{
        display: flex;
    }
    &__list-item + .footer-bottom__list-item{
        margin-left: 30px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 1px;
            height: 20px;
            top: 50%;
            left: -15px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background: $footer-font-color;
        }
    }
    &__list-link{
        color: $footer-font-color;
        &:hover {
            color: $link-hover;
        }
    }
}

@import 'media';